<h1>AJAX</h1>
<div id="rest-ops">
<button id="list-users" type="button">List users</button><br>
<label>username</label><input id="user-username"><label>password</label>
<input id="user-password"><button id="create-user" type="button">Create user</button><br>
<label>user_id</label><input id="user-id" type="number"><label>username</label>
<input id="user-username1"><label>password</label>
<input id="user-password1"><button id="update-user" type="button">Update user</button><br>
<label>user_id</label><input id="user-id1" type="number"><button id="delete-user" type="button">Delete User</button><br>
<label>user_id</label><input id="fact-user-id" type="number"><button id="list-facts" type="button">List User Facts</button><br>
<label>user_id</label><input id="user-id2" type="number"><label>Fun Fact:</label><input id="fact-text">
<label>Likes</label><input id="create-likes"><button id="create-fact" type="button">Create Fact</button><br>
<label>user_id</label><input id="user-id3" type="number"><label>fact_id</label><input id="fact-id" type="number"><label>Fun Fact:</label><input id="fact-text1">
<label>Likes</label><input id="update-likes"><button id="update-fact" type="button">Update Fact</button><br>
<label>user_id</label><input id="user-id4" type="number"><label>fact_id</label><input id="fact-id1" type="number">
<button id="delete-fact" type="button">Delete Fact</button><br>
</div>
<div id="results-div"></div>
<script>
document.addEventListener('DOMContentLoaded', handle_ajax(event));
</script>
